<p ng-if='is_error' class="bg-danger">Can't load manga</p>

<%= image_tag 'loading.gif', 'ng-if' => 'is_loading' %>

<a class='btn btn-primary' ng-if='chapters.previous_link' href='#/manga/chapter?chapter={{chapters.previous_link}}'>< Previous</a>
<a class='btn btn-primary' ng-if='chapters.next_link' href='#/manga/chapter?chapter={{chapters.next_link}}'>Next ></a>

<img ng-repeat='image in chapters.images' src='{{ image }}' width='100%'/>

<a class='btn btn-primary' ng-if='chapters.previous_link' href='#/manga/chapter?chapter={{chapters.previous_link}}'>< Previous</a>
<a class='btn btn-primary' ng-if='chapters.next_link' href='#/manga/chapter?chapter={{chapters.next_link}}'>Next ></a>
