%div{class: 'navbar navbar-inverse', role: 'navigation'}
  .container
    .navbar-header
      %a.navbar-brand{href: '#'}Manga Search
    %div{class: 'collapse navbar-collapse'}
      %ul{class: 'nav navbar-nav'}
        %li
          %a{href: '/'} Home
        %li
          %a{href: manga_index_path} Search
